<!DOCTYPE html>
<html>
  <head>
    <title>File Metadata Microservice</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Welcome to FCC File Metadata Microservice!</h1>
    <p>Upload a file to discover the size of the file in bytes! (max 3mb)</p>

    <form method="POST" action="/api/filemetadata" enctype="multipart/form-data">
    	<input type="file" name="document">
    	<input type="submit" value="upload!">
    </form>

  </body>
</html>
